.slide-card {
  position: relative;
  width: 80%;
  max-width: 600px;
  overflow: hidden;
}

.category-card-container {
  overflow: hidden;
}

.category-card {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.category-card-slide {
  min-width: 50%;
  transition: opacity 0.5s ease-in-out;
}

.slide-image {
  width: 80%;
  display: block;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  z-index: 1;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}




.slide-container {
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
}

.slide-content {
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}

.category-card {
  width: 150px;
  border-radius: 25px;
  background-color: #e6e6e6;
}

.image-content,
.category-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}

.image-content {
  width: 150px;
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}

.category-card-image {
  margin: auto;
}

.category-card-img {
  width: 75%;
  border-radius: 50%;
  background: linear-gradient(245deg, #ff0049, #ff6900, #FFd500, #ffc80e,#ff3bbd, #ff95fc, #ffd0ff) border-box;
  border: 4px solid transparent;
}

.name {
  font-size: 18px;
  font-weight: 500;
  color: #333;
}

.swiper-navBtn {
  color: #6E93f7;
  transition: color 0.3s ease;
}

.swiper-navBtn:hover {
  color: #4070F4;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 35px;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev {
  left: 0;
}

.swiper-pagination-bullet {
  background-color: #6E93f7;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #4070F4;
}

@media screen and (max-width: 768px) {
  .slide-content {
    margin: 0 10px;
  }

  .swiper-navBtn {
    display: none;
  }
}