.slider-container,
.slider-wrapper,
.slider-track,
.card {
  user-select: none; /* Disable text selection */
}

.slider-container {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  direction: rtl; /* Add this if your entire site is RTL */
}

.slider-wrapper {
  overflow: hidden;
  position: relative;
}

.slider-track {
  display: flex;
  transition: transform 0.5s ease;
  gap: 25px;
}

.carousel-card {
  background-color: #f1f1f1;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.slider-btn {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  position: absolute;
  z-index: 1;
}

.left-btn {
  left: 10px;
}

.right-btn {
  right: 10px;
}

.slider-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.category-card-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 130px;
  height: 200px;
}


.category-card-img {
  width: 75%;
  border-radius: 50%;
  background: linear-gradient(245deg, #ff0049, #ff6900, #FFd500, #ffc80e,#ff3bbd, #ff95fc, #ffd0ff) border-box;
  border: 4px solid transparent;
}
