* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  min-height: 100vh;            /* Minimum height is full viewport height */
  display: flex;
  flex-direction: column;       /* Keep items in column order (optional) */
  justify-content: center;      /* Center content vertically */
  align-items: center;          /* Center content horizontally */
}

/* popup styling */
.fp-section {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(207, 207, 207);
  z-index: 0;
}

.code {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(207, 207, 207);
  z-index: 0;
}

.new-password {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(207, 207, 207);
  z-index: 0;
}

.fp-content {
  position: absolute;
  width: 25%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: opacity 0.3s ease;
}

.close {
  position: absolute;
  top: -10px;
  right: 10px;
  font-size: 50px;
  cursor: pointer;
}


.z-index-1 {
  z-index: 1;
}
.z-index-2 {
  z-index: 2;
}
.z-index-3 {
  z-index: 3;
}