.margin-0 {
  margin: 0 !important;
}
.margin-bottom-1 {
  margin-bottom: 1rem !important;
}
.margin-bottom-2 {
  margin-bottom: 2rem !important;
}
.margin-bottom-3 {
  margin-bottom: 3rem !important;
}
.margin-bottom-4 {
  margin-bottom: 4rem !important;
}
.margin-bottom-5 {
  margin-bottom: 5rem !important;
}
.margin-top-1 {
  margin-top: 1rem !important;
}
.margin-top-2 {
  margin-top: 2rem !important;
}
.margin-top-3 {
  margin-top: 3rem !important;
}
.margin-top-4 {
  margin-top: 4rem !important;
}
.margin-top-5 {
  margin-top: 5rem !important;
}
.margin-left-1 {
  margin-left: 1rem !important;
}
.margin-left-2 {
  margin-left: 2rem !important;
}
.margin-left-3 {
  margin-left: 3rem !important;
}
.margin-left-4 {
  margin-left: 4rem !important;
}
.margin-left-5 {
  margin-left: 5rem !important;
}
.margin-right-1 {
  margin-right: 1rem !important;
}
.margin-right-2 {
  margin-right: 2rem !important;
}
.margin-right-3 {
  margin-right: 3rem !important;
}
.margin-right-4 {
  margin-right: 4rem !important;
}
.margin-right-5 {
  margin-right: 5rem !important;
}





.p-bottom-1 {
  padding-bottom: 0.25rem !important;
}
.p-bottom-2 {
  padding-bottom: 0.5rem !important;
}
.p-bottom-3 {
  padding-bottom: 1rem !important;
}
.p-bottom-4 {
  padding-bottom: 1.5rem !important;
}
.p-bottom-5 {
  padding-bottom: 3rem !important;
}
.p-top-1 {
  padding-top: 0.25rem !important;
}
.p-top-2 {
  padding-top: 0.5rem !important;
}
.p-top-3 {
  padding-top: 1rem !important;
}
.p-top-4 {
  padding-top: 1.5rem !important;
}
.p-top-5 {
  padding-top: 3rem !important;
}
.p-left-1 {
  padding-left: 0.25rem !important;
}
.p-left-2 {
  padding-left: 0.5rem !important;
}
.p-left-3 {
  padding-left: 1rem !important;
}
.p-left-4 {
  padding-left: 1.5rem !important;
}
.p-left-5 {
  padding-left: 3rem !important;
}
.p-right-1 {
  padding-right: 0.25rem !important;
}
.p-right-2 {
  padding-right: 0.5rem !important;
}
.p-right-3 {
  padding-right: 1rem !important;
}
.p-right-4 {
  padding-right: 1.5rem !important;
}
.p-right-5 {
  padding-right: 3rem !important;
}