main {
  min-height: 100vh;            /* Minimum height is full viewport height */
  display: flex;
  flex-direction: column;       /* Keep items in column order (optional) */
  justify-content: center;      /* Center content vertically */
  align-items: center;          /* Center content horizontally */
}

.successful-text {
  font-size: 20px;
}

.date-tracking-number div {
  font-size: 14px;
}

.PS-buttons button {
border: none;
  background-color: transparent;
}

.warning-icon {
  top: -5px;
}

p span {
  color: red;
}

.warning-text {
  font-size: 15px;
  padding-right: 34px;
}