.filter {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  position: sticky;
  top: 2rem;
  height: fit-content;
  overflow-x: hidden;
}

.sort {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.products {
  overflow-y: auto;
  overflow-x: hidden;
}

.wrapper {
  padding: 20px 0 40px 0;
}
.price-range-header h2 {
  font-size: 24px;
  font-weight: 600;
}
.price-range-header p {
  margin-top: 5px;
  font-size: 16px;
}
.price-input {
  width: 100%;
  display: flex;
  margin: 0 0 15px 0;
}
.price-input .field {
  width: fit-content;
  height: 45px;
}
.field input {
  width: 60%;
  height: 100%;
  outline: none;
  font-size: 15px;
  text-align: center;
  -moz-appearance: textfield;
}
.field span {
  font-size: 12px;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.slider {
  height: 5px;
  position: relative;
  background: #ddd;
  border-radius: 5px;
}
.slider .progress {
  height: 100%;
  left: 25%;
  right: 25%;
  position: absolute;
  border-radius: 5px;
  background: #17a2b8;
}
.range-input {
  position: relative;
}
.range-input input {
  position: absolute;
  width: 100%;
  height: 5px;
  top: -5px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
input[type="range"]::-webkit-slider-thumb {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background: #17a2b8;
  pointer-events: auto;
  -webkit-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}
input[type="range"]::-moz-range-thumb {
  height: 17px;
  width: 17px;
  border: none;
  border-radius: 50%;
  background: #17a2b8;
  pointer-events: auto;
  -moz-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

@media only screen and (max-width: 800px) {
  main {
    flex-direction: column;
  }
  .hidden-filters {
    display: flex;
  }
  .sort {
    display: none !important;
  }
  aside .filter {
    display: none;
  }
  .grid-temp-col-card {
    grid-template-columns: repeat(4, auto);
  }
}